<!DOCTYPE html>

<html lang="en" ng-app="appy">
  
<head>
	<title>Angular!</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="bootstrapSlate.css">
	<link rel="stylesheet" type="text/css" href="test.css">
</head>

  
<body>
	
	<div class="container">&nbsp;</div>
	
	<div class = "col-md-12" ng-controller="SignUpForm">	
	<div class="container col-md-3 well">

		<form class="form-group">
			<h1>Sign up</h1>
			
			Username:
			<div class="right-inner-addon ">
				<i ng-class='validUserIcon'></i>
				<input class="form-control" type="text"  ng-change="validateUsername()" ng-model="username"></input>
			</div>

			Password: 
			<div class="right-inner-addon ">
				<i ng-class="validPassIcon"></i>
				<input class="form-control" type="password"  ng-change="validatePass()" ng-model="password"></input> 
			</div>

			Confirm password:
			<div class="right-inner-addon ">
				<i ng-class="validConfirmIcon"></i>
				<input class="form-control" type="password" ng-change="confirmPass()" ng-model="passConfirm"></input> 
			</div>
		</form>
	
		<div class="container col-md-12">
			{{message}}
		</div>
	</div>


	</div>

	<script src="angular.min.js"></script>
	<script src="test.js"></script>
</body>

</html>